#mentions {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  color: var(--color-dark-brown)
}

#mentions h2,
h3, p {
  /* height: 100%; */
  width: 100%;
}

.mentions-logo {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: auto;
}

#mentions .container-mentions {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
