@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");

.cAll {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.cForm {
  width: auto;
  justify-content: center;
  align-items: center;
  background-color: var(--color-skin);
  display: flex;
  flex-direction: column;
  border-radius: 1.25rem;
}

.cTitre {
  justify-content: center;
  align-items: center;
  width: auto;
  height: 4.875rem;
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.875rem;
  color: var(--color-brown);
  margin-bottom: 2rem;
  
}

.cChampRenseignements {
  display: flex;
  max-width: 30rem;
  width: 85%;
  height: 4.063rem;
  background: #ffffff;
  border-radius: 1.25rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  padding: 0.625rem 1.375rem;
}

.cChampRenseignements input {
  width: 24.82rem;
  height: auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 1.813rem;
  color: var(--color-brown);
  border: none;
  outline: none;
  border-radius: 0.2rem;
}

.cChampRenseignements i {
  width: auto;
  max-width: 30rem;
  height: 1.75rem;
  margin-left: 2.75rem;
  margin-top: 2%;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-size: 1.75rem;
  line-height: 1.75rem;
  color: red;
}

.connection {
  display: flex;
  width: 95%;
  height: 4.063rem;
  background: var(--color-buff);
  border-radius: 1.25rem;
  margin-bottom: 2rem;
  border: none;
  outline: none;
  border-radius: 1.25rem;
}

.connection:hover {
  cursor: pointer;
}

.connexion {
  display: flex;
  margin-top: 3%;
  margin-left: 28.2%;
}

.connexion p {
  width: auto;
  height: 1.75rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: var(--color-dark-brown);
  margin-top: 0%;
}

.connexion i {
  width: 1.5rem;
  height: 1.75rem;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.75rem;
  color: #fff;
  margin-left: 1rem;
}

.all .registration {
  display: flex;
  width: 30rem;
  height: 1.5rem;
  justify-content: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.cIconnes {
  font-size: 2rem;
  color: var(--color-dark-brown);
  width: auto;
  height: 1.75rem;
  margin-left: 2.75rem;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  line-height: 1.75rem;
}
