@import url("https://cdn.syncfunction.com/ej2/material.css");

:root {
  --color-tea: #ccd5ae;
  --color-light-green: #ccd5ae;
  --color-light: #fefae0;
  --color-skin: #faedcd;
  --color-buff: #d4a373;
  --color-brown: #8b4513;
  --color-dark-brown: #463f3a;
  --color-warning: #ef233c;
}

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}