@import url("https://fonts.googleapis.com/css?family=Montserrat: 900, 400, 700, 600, 500, 900italic");

.preview {
  font-family: var(--font-family-montserrat);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  color: var(--color-brown);
  text-align: center;
}

h2 {
  font-weight: 500;
}

.preview {
  color: var(--color-brown);
  text-align: center;
}

.preview-icon {
  width: 20%;
}

.preview-logo {
  width: 25%;
}

.lien-btn {
  width: 50%;
  max-height: 1%;
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.lien-btn .redirections {
  display: block;
  width: 110%;
  justify-content: center;
  /* text-align: center; */
  background: var(--color-buff);
  border: none;
  outline: none;
  border-radius: 1.25rem;
  margin-bottom: 1rem;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 1.5rem;
  color: var(--color-dark-brown);
}

.lien-btn .redirections:hover {
  cursor: pointer;
  background: var(--color-dark-brown);
  transition: 0.5s;
  color: var(--color-skin);
}
